{% extends 'base.html.twig' %}

{% block title %}Read {{ title }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

<div>
    <p>
        Bacon ipsum dolor amet filter mignon picanha kielbasa jowl hamburger
    </p>

    <p>
        Kielbasa pork belly meatball cupim burgdoggen chuck turkey buffalo
    </p>

    <p>
        Pastrami short loin chop, chicken kielbasa swine
    </p>
</div>

<h2>Comments ({{ comments|length }})</h2>
<ul>
    {% for comment in comments %}

        <li>{{ comment }}</li>

    {% endfor %}
</ul>

    {% endblock %}